@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url('../../fonts/Radomir Tinkov - Gilroy-ExtraBold.otf') format("opentype");
}

@font-face {
  font-family: "Gilroy-Light";
  src: url('../../fonts/Radomir Tinkov - Gilroy-Light.otf') format("opentype");
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url('../../fonts/Gilroy-Bold.ttf') format("truetype");
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url('../../fonts/Gilroy-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "Gilroy-SemiBold";
  src: url('../../fonts/Gilroy-SemiBold.ttf') format("truetype");
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url('../../fonts/Gilroy-Medium.ttf') format("opentype");
}

body {
  font-family: 'Gilroy-Light', serif;
  background-color: #F5F3EA;
}

*{
  box-sizing: border-box;
}
