//BREAKPOINTS
$bp-md: 768px;
$bp-lg: 1200px;


//COLORS
$background-primary: #F5F3EA;
$background-secondary: #252525;;
$text-color-white: #FFF;
$text-color-black: #000;
$text-color-gray: #252525;


@mixin display_flex ($justify: center, $align: center, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin content-wrapper ($top: 0, $bottom: 0) {
  padding: $top $bottom
}



$block-title-colour: #252525;
$secondary-text-colour: black;

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin block-title {
    color: $block-title-colour;
    text-align: center;
    font-family: Gilroy-Light;
    font-size: 80px;
    font-weight: 300;
    text-transform: uppercase;

    @media screen and (min-width: 320px) {
        font-size: 50px;
    }

    @media screen and (min-width: 478px) {
        font-size: 80px;
    }

    @media screen and (min-width: 768px) {
        font-size: 110px;
    }

    @media screen and (min-width: 991px) {
        font-size: 150px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 90px;
    }

    @media screen and (min-width: 1600px) {
        font-size: 110px;
    }

    @media screen and (min-width: 1600px) {
        font-size: 150px;
    }
}
