@import "../abstracts/variables";
@import "../base/common";

.about-me {
  min-width: 320px;
  @include display_flex (end, center, column);

  @media (min-width: $bp-lg) {
    @include display_flex (start, center);
    border-bottom: 1px solid $background-secondary;
  }
}

.about-me__description {
  color: $text-color-gray;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  margin: 30px 20px;

  @media (min-width: $bp-md) {
    font-size: 52px;
    margin: 30px 30px;
  }

  @media (min-width: $bp-lg) {
    font-size: 62px;
    margin: 70px;
    text-align: start;
  }

    &--bold {
      font-family:'Gilroy-Medium', sans-serif;
      @extend .about-me__description;
      font-weight: 800;
      margin: 0;

    @media (min-width: $bp-md) {
      font-size: 52px;
    }

    @media (min-width: $bp-lg) {
      font-size: 62px;
    }
  }
}

.about-me__socials {
  @include display_flex (center, end, column);
  background-color: $background-secondary;
  padding: 40px 30px;
  gap: 30px;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: $bp-lg) {
    padding: 60px 70px 60px 30px;
    width: 100%;
    min-width: 415px;
  }
}

.about-me__socials-title {
  color: $text-color-white;
  text-align: right;
  font-size: 28px;
  text-transform: uppercase;

  @media (min-width: $bp-lg) {
    font-size: 32px;
  }
}

.about-me__social-list {
  @include display_flex (end, center);
  gap: 20px;
}