.contacts-block__wrapper {
    max-width: 1920px;
    margin: 0 auto;
}

.contacts-block__all-text-block {
    padding: 30px 20px 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-bottom: 1px solid $block-title-colour;

    @media screen and (min-width: 768px) {
        padding: 30px 30px 50px;
    }

    @media screen and (min-width: 1200px) {
        flex-direction: row;
        gap: 40px;
        padding: 100px 70px;
    }
}

.contacts-block__title {
    @include block-title;
}

.contacts-block__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;

    @media screen and (max-width: 1200px) {
        font-size: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

}

.contacts-block__h3 {
    display: block;
    color: #252525;
    text-align: center;
    font-family: Gilroy-Bold;
    font-size: 50px;
    font-weight: 400;
    text-transform: uppercase;

    @media screen and (max-width: 467px) {
        font-size: 30px;
    }

    @media screen and (min-width: 768px) {
        font-size: 64px;
        
    }

    @media screen and (min-width: 1200px) {
        font-size: 64px;
        text-align: unset;
        
    }

}

.contacts-block__description {
    color: #252525;
    text-align: center;
    font-family: Gilroy-Medium;
    font-size: 30px;
    font-weight: 400;

    @media screen and (min-width: 768px) {
        font-size: 34px;
    }

    @media screen and (min-width: 1200px) {
        text-align: unset;
    }
}

.contacts-block__button-and-arrow {
    display: flex;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    background-color: $block-title-colour;
    border-radius: 50px;


    @media screen and (min-width: 768px) {
        margin: 0 auto;
    }

    @media screen and (min-width: 1200px) {
        margin: 0;
        width: 195px;
    }
}

.contacts-block__link-button {
    color: #FFF;
    font-family: Gilroy-Medium;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    // padding: 10px 30px;
    // background-color: black;
    display: flex;
    justify-content: center;
    text-decoration: none;
    // border-radius: 50px;
}

.contacts-block__arrow {
    width: 21px;
    height: 13px;
}