.footer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
   


    @media screen and (min-width: 768px) {
        padding: 20px 30px 20px;
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }

    @media screen and (min-width: 1200px) {
        padding: 20px 70px;
    }
}

.footer__copyrights {
    color: #333;
    font-family: Gilroy-Regular;
    font-size: 18px;
    text-align: center;

    @media screen and (min-width: 768px) {
        text-align: unset;
}
}

span {
    color: #333;
    font-family: Gilroy-Medium;
    font-size: 18px;
    font-weight: bold;
}