@import "../abstracts/variables";
@import "../base/common";

.hero-photo-title {
  min-width: 320px;
  @include display_flex (start, center, column);
  text-align: center;

  @media (min-width: $bp-md) {
    border-bottom: 1px solid $background-secondary;
  }
}
.hero-photo-title__text{
  @include content-wrapper (20px, 20px);
  @media (min-width: $bp-md) {
    @include content-wrapper (40px, 30px);
  }
}

.hero-photo-title__name {
  font-family:'Gilroy-SemiBold', sans-serif;
  color: $text-color-gray;
  text-align: center;
  font-size: 57px;
  font-weight: 400;
  text-transform: uppercase;
  align-content: center;
  @include display_flex (center, center, column);
  margin: 0 30px;

  @media (min-width: $bp-md) {
    font-size: 120px;
    margin: 0 70px;
  }

  @media (min-width: $bp-lg) {
    font-size: 150px;
  }
}

.hero-photo-title__topic {
  color: $text-color-gray;
  font-size: 57px;
  font-weight: 300;
  text-transform: capitalize;

  @media (min-width: $bp-md) {
    font-size: 120px;
  }

  @media (min-width: $bp-lg) {
    font-size: 150px;
  }

  &::after {
    content: "";
    background-image: url(../../img/images/Arrow-down.svg);
    display: block;
    width: 28px;
    height: 40px;
    margin: 0 auto;
  }
}

.hero-photo-title__photo {
  width: 100%;
  aspect-ratio: 0.75;
  object-fit: cover;

  @media(min-width: $bp-md) {
    aspect-ratio: 1.05;
  }

  @media (min-width: $bp-lg) {
    aspect-ratio: 2;
  }
}
