@import "../abstracts/variables";
@import "../base/reset";

.logos {
  @include display_flex (center, center, column);
  @include content-wrapper (30px, 20px);

  @media (min-width: $bp-lg) {
    @include content-wrapper (40px, 30px);
  }

  @media (min-width: $bp-lg) {
    border-bottom: 1px solid $background-secondary;
    @include content-wrapper (70px, 30px);
  }
}

.logos__list {
  @include display_flex (center, center);
  flex-wrap: wrap;
  gap: 20px;
}

.logos__item {
  background-color: #FFFFFF;
  padding: 15px 40px;
  border-radius: 50px;

}