@import "../abstracts/variables";

.selected-work__title{
  color: $text-color-gray;
  text-align: center;
  font-family: Gilroy-Regular, serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 55px;
  letter-spacing: 3px;
  padding-top: 30px;

  @media (min-width: 400px) {
    font-size: 80px;
    letter-spacing: 3.2px;
  }
  @media (min-width: $bp-md) {
    font-size: 150px;
    letter-spacing: 6px;
  }
  @media (min-width: $bp-lg) {
    font-size: 200px;
    letter-spacing: 8.48px;
    padding-top: 70px;
  }
}

.selected-work__container {
  padding: 30px 20px;
  display: grid;
  gap: 20px;

  @media (min-width: $bp-md) {
    gap: 30px;
  }
  @media (min-width: $bp-lg) {
    grid-template-columns:  repeat(3, 1fr);
    padding: 50px 70px;
    gap: 40px;
  }
}

.selected-work__photo {
  filter: grayscale(100%);
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1;
}

.selected-work__description {
  @include display_flex(space-between, flex-end, column);
  flex-shrink: 0;
  align-self: stretch;
}

.selected-work__description-first {
  @extend .selected-work__description;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.selected-work__text-name{
  color: #000;
  font-family: Gilroy-Bold, serif;
  font-size: 35px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $bp-md) {
    font-size: 40px;
    line-height: 44px;
  }
}

.selected-work__text-container{
  @include display_flex(space-between, flex-start, column);
  gap: 30px;
  align-self: stretch;
}

.selected-work__tag-list{
  display: flex;
  align-items: flex-start;
  gap: 30px;

  li{
    @include display_flex(space-between, center);
    color: $text-color-gray;
    font-family: Gilroy-Medium, serif;
    font-size: 18px;
    font-weight: 400;
    padding: 15px 30px;
    border-radius: 50px;
    background: #FFF;
  }
}

.selected-work__more-btn {
  color: $text-color-white;
  background-color: $background-secondary;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  border-radius: 50px;
  @include display_flex;
  padding: 10px 30px;
  gap: 10px;

  &::after {
    content: "";
    background-image: url(../../img/images/Arrow-right.svg);
    display: block;
    width: 24px;
    height: 17px;
  }
}

.selected-work__all-btn{
  background-color: #FFFFFF;
  padding: 15px 30px;
  border-radius: 50px;
  color: $text-color-gray;
  font-family: Gilroy-Medium, serif;
  font-size: 18px;
  font-weight: 400;
  display: block;
  text-align: center;
  margin: 0 20px 0 20px;

  @media (min-width: $bp-md) {
    width: 187px;
    margin: 0 auto;
  }
}
