body {
    background-color: #f5f3ea;
}





.what-i-do-block__wrapper {
    @include flex-column;
    gap: 0px;

    @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
        gap: 0px;
    }
}

.what-i-do-block__background-image {
    width: 100%;
    height: 320px;

    background-image: url("../../img/images/what-i-do-bgd.jpg");
    background-size: cover;

    @media screen and (min-width: 478px) {
        height: 478px;
    }


    @media screen and (min-width: 768px) {
        height: 768px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 50%;
        height: auto;
    }
}



.what-i-do-block__title {
    color: $block-title-colour;
    text-align: center;
    font-family: Gilroy-Light;
    font-size: 80px;
    font-weight: 300;
    text-transform: uppercase;

    @media screen and (min-width: 320px) {
        font-size: 50px;
    }

    @media screen and (min-width: 478px) {
        font-size: 80px;
    }

    @media screen and (min-width: 768px) {
        font-size: 110px;
    }

    @media screen and (min-width: 991px) {
        font-size: 150px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 90px;
    }

    @media screen and (min-width: 1600px) {
        font-size: 110px;
    }

    @media screen and (min-width: 1600px) {
        font-size: 150px;
    }

}

.what-i-do-block__list-of-descriptions {
    @include flex-column;
    gap: 30px;
    // padding: 0 20px;

    & div:last-child {
        padding-bottom: 0;
        border-bottom: none;
    }
}

.what-i-do-block__all-text-block {
    @include flex-column;
    gap: 40px;
    padding: 20px 20px;
    border-bottom: 1px solid $block-title-colour;

    @media screen and (min-width: 768px) {
        padding: 40px 30px;
    }

    @media screen and (min-width: 1200px) {
        width: 50%;
        padding: 70px 70px;
        gap: 100px;
    }

}

.what-i-do-block__description-container {
    @include flex-column;
    align-items: flex-start;
    gap: 10px;
    padding-bottom: 30px;
    border-bottom: 1px solid $block-title-colour;

    @media screen and (min-width: 768px) {
        padding-bottom: 40px;
    }
}

.what-i-do-block__h3-title {
    color: $secondary-text-colour;
    font-family: Gilroy-Medium;
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
        font-size: 44px;
        line-height: 48px;
    }
}

.what-i-do-block__description {
    color: $secondary-text-colour;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;

    @media screen and (min-width: 768px) {
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
    }
}

.h3-title1::before {
    content: "01";
    color: $secondary-text-colour;
    font-family: Gilroy-Light;
}

.h3-title2::before {
    content: "02";
    color: $secondary-text-colour;
    font-family: Gilroy-Light;
}

.h3-title3::before {
    content: "03";
    color: $secondary-text-colour;
    font-family: Gilroy-Light;
}

.h3-title4::before {
    content: "04";
    color: $secondary-text-colour;
    font-family: Gilroy-Light;
}